
  <%= link_to 'メモ新規投稿', '/memos/new', class: "post-memo"%>
  <div class="contents row">
  <% @memos.each do |memo| %>
  <div class="more">
   <span><%= image_tag 'star.png' %></span>
   <ul class="more_list">
      <li>
       <%= link_to '削除', memo_path(memo.id), method: :delete %>
      </li>
   </ul>
  </div>
    <div class="memo">
      <div class="memo-date">
        投稿日時：<%= memo.created_at %>
      </div>
      <div class="memo-content">
        <%= memo.content %>
      </div>
    </div>
  </div>
  <% end %>
